{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div id="login" class="container">
    <div id="login-row" class="row vertical-center">
        <div id="login-box" class="col-md-12">
            <form class="form login text-light text-center" method="POST" action="{% url 'account_login' %}">
                <h3 class="text-center text-light overflow-hidden">Login</h3>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="primaryAction btn btn-dark m-3" id="btn-login">{% trans "Sign In" %}</button>
                <p>{% blocktrans %}If you have not created an account yet <br>
                    <a class="text-light" href="{{ signup_url }}">Sign Up Here</a>{% endblocktrans %}</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}