* {
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.content {
    height: 81vh;
}

.vertical-center {
    min-height: 100%;
    min-height: 75vh;

    display: flex;
    align-items: center;
}

.bg-dark-gray {
    background-color: #495057;
}

/* Nav Bar */

.top-margin {
    margin-top: 30px;
}

/* Login Page */

.register-link,
p {
    padding-top: 20px;
}

/* Register Page */

.login-link,
p {
    padding-top: 20px;
}

/* Project Page */

.accordion-button:not(.collapsed) {
    background-color: #6c757d;
}

/* Media Queries */

@media screen and (min-height: 990px) {
    .content {
        height: 90vh
    }
}

@media screen and (min-width: 992px) {
    .top-margin {
        margin-top: 0px;
    }
}
